.wallet-list-container {
  background-color: #005074;
}

.wallet-list-search-container {
  display: grid;
  grid-template-areas: 'search-input secondary-icon';
  grid-template-columns: 1fr auto;
  margin: 15px 20px 0 20px;
}

.wallet-list-search-container-input {
  grid-area: search-input;
  border-bottom: #6d93a4 1.5px solid;
  align-self: center;
  justify-self: flex-start;
  width: 95%;
}

.wallet-list-search-input-element {
  background-color: transparent;
  font-family: 'Roboto-Italic';
  border: none;
  font-size: 15px;
  padding: 12px;
  color: #6d93a4;
  width: 276.53px; /* Width calculated by subtracting width of parent div by search icon width */
}

.wallet-list-search-input-element::placeholder {
  color: #6d93a4;
  text-align: left;
}

.wallet-list-search-container-secondary-icon {
  grid-area: secondary-icon;
  align-self: center;
  justify-self: flex-end;
  color: #6d93a4;
  font-size: 15px;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

.wallet-list-search-container-secondary-icon:hover {
  color: #92c3da;
}

.wallet-list-content::-webkit-scrollbar {
  width: 25px !important;
}

.wallet-list-content::-webkit-scrollbar-track {
  background: transparent !important ;
  margin-bottom: 10px !important;
}

.wallet-list-content::-webkit-scrollbar-thumb {
  background: #7faabe !important ;
  border-radius: 25px !important ;
  background-clip: padding-box !important ;
  border: 7px solid rgba(0, 0, 0, 0) !important ;
}

.wallet-list-content::-webkit-scrollbar-thumb:hover {
  background: #92c3da !important ;
  border-radius: 25px !important ;
  background-clip: padding-box !important ;
  border: 7px solid rgba(0, 0, 0, 0) !important ;
}

.wallet-list-content {
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 20px;
  margin-right: 12px;
  padding-bottom: 15px;
}

.wallet-list-content-without-scroll {
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: calc(12px + 25px);
}

.wallet-list-item {
  height: 65px;
  grid-area: wallet-list;
  align-items: center;
  display: grid;
  grid-template-areas:
    'wallet-icon     wallet-obj      wallet-right-icon'
    'wallet-divider wallet-divider   wallet-divider';
  grid-template-columns: 52px 1fr auto;
  grid-template-rows: 1fr 1px;
  cursor: pointer;
}

.wallet-list-wallet-icon {
  grid-area: wallet-icon;
  justify-self: center;
  align-self: center;
  position: relative;
}

.wallet-list-blockies-icon {
  height: 32px !important;
  width: 32px !important;
  border-radius: 50%;
  transition: border 200ms ease-in-out;
}

.wallet-list-blockies-icon-selected {
  border: 2px solid white;
}

.wallet-list-imported-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  background: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: grid;
}

.wallet-list-imported-icon-image {
  color: '#2f112b';
  font-size: 10px;
  align-self: center;
  justify-self: center;
  opacity: 0.8;
}

.wallet-list-wallet-obj {
  grid-area: wallet-obj;
  display: grid;
  grid-template-areas:
    'wallet-obj-name'
    'wallet-obj-balance-details';
  color: #ffffff;
  justify-self: flex-start;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.wallet-list-wallet-obj-name {
  grid-area: wallet-obj-name;
}

.wallet-list-wallet-obj-hidden-input {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 100%;
}

.wallet-list-wallet-obj-name:focus {
  outline: 0px solid transparent;
}

.wallet-list-wallet-obj-balance-details {
  grid-area: wallet-obj-balance-details;
  font-family: 'Roboto-Light';
  font-size: 12.5px;
}
.wallet-list-wallet-obj-usd {
  grid-area: wallet-obj-usd;
  font-family: 'Roboto-Regular';
  font-size: 12.5px;
  opacity: 0.7;
}

.wallet-list-wallet-obj-name-selected {
  font-family: 'Roboto-Bold';
}

.wallet-list-name-hidden-input {
  background-color: transparent;
  border: none;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  width: fit-content(100%);
}

.wallet-list-name-hidden-input::selection {
  background: #92c3da;
}

.wallet-list-wallet-obj-name-edit {
  border-bottom: #92c3da solid 1px;
}

.wallet-list-wallet-obj-hidden-input-error {
  border-bottom: #ff0000 solid 1px;
  color: #ff0000;
  opacity: 0.8;
}

.wallet-list-wallet-right-icon {
  grid-area: wallet-right-icon;
  display: grid;
  grid-template-areas: 'edit-icon';
  grid-template-columns: 20px;
  align-self: center;
  justify-self: center;
  margin-right: 15px;
  margin-left: 15px;
  grid-column-gap: 10px;
}

.wallet-list-edit-icon {
  grid-area: edit-icon;
  align-self: center;
  justify-self: center;
}

.wallet-list-divider {
  grid-area: wallet-divider;
  justify-self: flex-start;
  transition: all 200ms ease-in-out;
}
