.wallet-grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  background: #2f112b;
}

.wallet-header {
  grid-area: header;
  height: 84px;
  background-color: #2f112b;
  padding-top: 22px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.wallet-footer {
  grid-area: footer;
  height: 120px;
  background-color: #2f112b;

  padding-top: 22px;
  text-align: center;
}
.wallet-main {
  grid-area: main;
  overflow-y: auto;
  max-height: 338px;
  border-radius: 10px;
  height: 338px;
}

.mainDiv {
  padding-left: 40px;
  padding-right: 40px;
}

.itemDiv {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 84px;
  color: white;
  border-bottom: 1px solid lightslategray;
  font-family: 'Roboto-Bold';
  font-size: 24px;
  width: 278px;
}

.item-grid-container {
  display: grid;
  grid-template-areas: 'c1 c2 c2 c3';
  cursor: pointer;
}

.item-c1 {
  grid-area: c1;
  width: 10px;
}

.item-c2 {
  grid-area: c2;
  vertical-align: top;
  width: 210px;
  padding-left: 10px;
}

.item-c3 {
  grid-area: c3;
  text-align: right;
  width: 10px;
}

.subItem1 {
  font-family: 'Roboto-Light';
  font-size: 16px;
}

.subItem2 {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  padding-left: 13px;
  color: white;
  opacity: 0.5;
}

.walletCircle {
  height: 38px !important;
  width: 38px !important;
  border-radius: 50%;
  display: inline-block;
}

.walletListCircle {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.wallet-container {
  position: relative;
  display: grid;
  grid-template-areas: 'c1 c2 c3';
  grid-template-columns: 45px 1fr auto;
  height: 83px;
  background: #007eb9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.wallet-container-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.wallet-c1 {
  grid-area: c1;
  justify-self: left;
  cursor: pointer;
  position: relative;
}

.wallet-imported-icon {
  position: absolute;
  top: 22px;
  right: 22px;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.wallet-imported-icon-image {
  color: '#2f112b';
  font-size: 11px;
  align-self: center;
  justify-self: center;
  opacity: 0.8;
}

.wallet-c2 {
  grid-area: c2;
  color: white;
  font-family: 'Roboto-Regular';
  font-size: 24px;
}

.wallet-c3 {
  grid-area: c3;
  display: grid;
  grid-template-areas: 'wallet-header-settings  wallet-header-arrow';

  justify-self: center;
  align-self: center;
  padding-right: 20px;
}

.wallet-header-settings {
  grid-area: wallet-header-settings;
  color: white;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  padding-right: 10px;
  border-right: 1px solid #ffffff;
}

.wallet-header-arrow-container {
  grid-area: wallet-header-arrow;
  align-self: center;
  justify-self: center;
}
.wallet-header-arrow {
  display: grid;
  align-self: center;
  justify-self: center;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.wallet-c4 {
  grid-area: c4;
  color: white;
  justify-self: flex-end;
  align-self: center;
  padding-right: 20px;
  cursor: pointer;
}

.waltitle {
  font-size: 1.1em;
  font-weight: bold;
}

.walSubTitle {
  color: white;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.iconRightAlign {
  float: right;
  padding-top: 16%;
  padding-right: 10px;
}
.inputBorder {
  border-radius: 5.285714rem !important;
}

.inputBorder::-webkit-input-placeholder {
  text-align: center !important;
}
