.tokens-class {
  background: #2f112b;
  height: 496px;
  overflow-y: scroll;
}
.aiwa-home-page {
  overflow: hidden;
  overflow-y: scroll;
  height: 515px;
}

.aiwa-home-page::-webkit-scrollbar {
  width: 0px !important;
}

.aiwa-home-page::-webkit-scrollbar-track {
  background: transparent !important ;
  width: 0px;
}

.aiwa-home-page::-webkit-scrollbar-thumb {
  background: #b2b2b2 !important ;
  border-radius: 25px !important ;
}

.aiwa-home-page::-webkit-scrollbar-thumb:hover {
  background: #555 !important ;
  border-radius: 25px !important ;
}

.aiwa-home-page-dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "token-details-transaction token-list";
}

.aiwa-home-page-dashboard-token-details-transaction {
  grid-area: token-details-transaction;
  width: 360px;
}

.aiwa-home-page-dashboard-token-list {
  grid-area: token-list;
  height: 496px;
}

.modal{
  align-content: center;
  justify-self: center;
  margin: 5px 5px 5px 5px
}

