.button-sm-primary {
  background-color: #ffffff;
  width: 99.93px;
  height: 39.87px;
  border-radius: 10px;
  border: 1px #e2e2e2;
  color: #000000;
  font-size: 16px;
  border-style: solid;
  font-family: 'Roboto-Medium';
}

.button-sm-secondary {
  background-color: #33c7a5;
  width: 99.93px;
  height: 39.87px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  border-style: solid;
  border: 0px transparent;
  font-family: 'Roboto-Medium';
}

.button-sm-secondary:active {
  background-color: #009576;
 }